{% extends "frame.html" %}
{% block title %}Mathematics Society - About{% endblock %}
{% block content %}
    <h2>About Us</h2>

    <p>
        The Mathematics Society is an undergradaute community of quantitatively-minded students at CUNY Baruch
        College dedicated to the exploration of mathematics and the use of mathematics in the fields where it is
        applicable—in today's world, everywhere. We host presentations and study groups for and on topics ranging
        from number theory to modern physics to financial engineering, representing as best we can the broad variety
        of fields in which math is useful, even required, today.
    </p>

    <!--
    <p>
        Our professorial presentations fall into three series. Our pure mathematics lectures focus on the innate
        beauty of the field of mathematics itself, covering topics like number theory, topology, graph theory,
        abstract algebra, and the history of mathematics. Our applied mathematics lectures focus on the real
        applications of topics from mathematics to other fields of academic endeavor: physics, statistics, computer
        science, economics, biology, et cetera. Finally, recognizing the special place that business and finance
        holds at Baruch, our financial mathematics lecture series focuses on the business applications of math,
        particularly in the exciting and daunting field of financial engineering—a field in which CUNY Baruch is a
        recognized national leader.
    </p>
    -->

    <!--
    <p>
        We host social events, like tours of the <a href="http://momath.org/">Museum of Mathematics</a> and an
        annual Pi Day celebratory feast. We hope to soon also host a weekly study session, held on Tuesdays, where
        you can get community help with problems in anything from Precalculus to Complex Variable Theory.</p>
    -->

    <p>
        For more information on our events visit our <a href="/Calendar">Calendar</a>.
    </p>

{% endblock %}