{% extends "frame.html" %}
{% block title %}Mathematics Society - Board{% endblock %}
{% block content %}
    <h2>Our Board</h2>

    <p><h3>President // Sam Sundsted</h3>

    <p>I’m a math enthusiast, physics aficionado, and lover of board games. I actually enjoy trying to solve more difficult problems despite throwing temper tantrums while trying to get through them. Overall, I am a normal person who simply loves learning new things. However if you are tired of talking about math, you can always stop by during club hours and discuss Zelda, Lord of the Rings, or Food Network shows.

    <br clear="all"/>

    <p><h3>Vice President // Aleksey Bilogur</h3>

    <p>I'm a junior majoring in mathematics and minoring in English, which is, yes, a thing: I like to say that the math majors think I'm crazy and the English majors think I'm insane. I handle marketing, built this website, coordinate board resources, and generally try to keep the ship sailing as smoothly as possible. During the school year you can also find me tutoring at <a href="https://www.baruch.cuny.edu/sacc/">SACC</a>.

    <br clear="all"/>

    <p><h3>Secretary // Allan Ruan</h3>

    <p>My name is Allan and I major in statistics and quantitative modeling, which is a form of applied math. I have been interested in math ever since I learned how many different applications there are. Math can be applied to virtually anything, even the amount of time that it takes for a traffic light to change is determined using math. Aside from math, I am also interested in fitness and gaming.

    <br clear="all"/>

    <p><h3>Treasurer // Ashraful Rashid</h3>

    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Example.svg" style="width:150px; height:150px; float:left; margin-right:30px"/>-->
    <p>Mathematics has always been alluring to me for as long as I can remember. Over the years I learned to appreciate the value of mathematics and I utilize it into many aspects of my ventures. I am studying Statistics and Quantitative Modeling as well as minoring in Economics. My responsibilities in a macro scale include assessing all aspects of budgeting and handling any monetary concerns. I enjoy financial markets and am a frequent trader.

    <br clear="all"/>

    <br/>
    <p>Want to learn more about the Mathematics Society? Interested in giving a presentation? For information on how to contact the Mathematics Society go to our <a href="../Contact">Contact</a> page.
{% endblock %}