{% extends "frame.html" %}
{% block title %}Mathematics Society - Events Calendar{% endblock %}
{% block content %}
	<h2>Events Calendar</h2>

	<p><b>General Interest Meeting</b>&mdash;Thursday, October 15 and Thursday, October 22</p>
		<p>Come learn what the Mathematics Society is all about at one of our Fall 2015 semester general interest meetings! On the agenda: who we are, what we do, an overview of the events we are planning for this semester, information on quantitative classes and programs at Baruch, questions for the board, and icebreakers. Refreshments are to be served.</p>

{% endblock %}