{% extends "frame.html" %}
{% block title %}Mathematics Society - Events Calendar{% endblock %}
{% block content %}
	<h2>Events Calendar</h2>

	<p><b>General Interest Meeting</b>&mdash;Thursday, October 15 and Thursday, October 22, VC 9-117</p>
		<p>Come learn what the Mathematics Society is all about at one of our Fall 2015 semester general interest meetings! On the agenda: who we are, what we do, an overview of the events we are planning for this semester, information on quantitative classes and programs at Baruch, questions for the board, and icebreakers. Refreshments are to be served.</p><br/>


	<p><b>Fractals: The Building Blocks of the Universe</b>&mdash;Thursday, October 29, VC 9-117</p>
		<p>Why is a dragon curve a fractal and where can I get one? Come learn about the role that self-similarity plays in the universe in our first student discussion of the semester.</p><br/>


	<p><b>Math Classes Preview</b>&mdash;Thursday, November 3, VC 9-117</p>
		<p>Math is a universial language of many tongues. Interested in taking your quantitative skills even further? Get a feeling for math classes at Baruch by working through a selection of problems from various courses in this pre-registration student presentation.</p><br/>


	<p><b>Math in Video Games</b>&mdash;Thursday, October 15 and Thursday, November 10, VC 9-117</p>
		<p>What is "linear algebra" and what does it have to do with video games? Learn about the fancy planar graphs that make Skyrim all dragony and stuff.</p><br/>


	<p><b>Math Interview Questions You Should Know</b>&mdash;Thursday, November 17, VC 9-117</p>
		<p>Go ahead, put math on your resume. But go to this presentation first.</p>

{% endblock %}