{% extends "frame.html" %}
{% block title %}Mathematics Society - Events Calendar{% endblock %}
{% block content %}
	<h2>Events Calendar</h2>

    <h2>Spring 2016</h2>

    <p><b>MFE Student Panel</b> &mdash; Forthcoming
    <p>
        The Baruch MFE Algorithmic Trading Competition team recently won first place at the Rotman International
        Trading Competition, beating teams from Columbia, MIT, UChicago, and elsewhere. Come hear what financial
        engineering is and what algorithmic trading competitions are like&mdash;directly from the competitors
        themselves.
    </p>
    <p>
        Plus, hear how you can get involved in the algorithmic trading team's undergraduate team.
    </p>
    <hr>

    <p><b>Data Science Workshop II: Interacting with Data</b> &mdash; Forthcoming
    <p>
        In this hands-on workshop, the second of a series for the prospective Baruch Data Science Competition Team,
        we tackle data and all of its myriad forms.
    </p>
    <hr>

    <p><b>Data Science Workshop III: Web Scrapers</b> &mdash; Forthcoming
    <p>
        Ever wanted to get useful data off of a website? Then a web scraper is what you need! In this hands-on
        workshop, the third of a series for the prospective Baruch Data Science Competition Team, we tackle web
        scraping.
    </p>
    <hr>

    <p><b>Math Encounters&mdash;What's Behind Door Number 2?</b> &mdash; April 6
    <p>
        Starting fifty years ago, Monty Hall unwittingly turned the math world on its ear — students and professors
        alike — with a seemingly simple stunt on his game show, Let’s Make a Deal. In the midst of a trademark
        giveaway, he’d show contestants that one of the doors hiding prizes was a dud, and then give them the chance
        to switch from their current choice to the remaining unopened door. Since then, the debate has raged over
        whether it’s valuable to take Monty’s deal.
    </p>
    <p>
        Join us for this one-of-a-kind lecture at <a href="http://momath.org/">MoMath</a>&mdash;the only museum in North
        America
        dedicated to the topic of mathematics.
    </p>
    <hr>

    <p><b>Pi Day Celebratory Presentation</b> (<a href="https://github.com/ResidentMario/baruch-mathematics-society/blob/master/Pi%20Day%20Presentation.pdf">Slides</a>) &mdash;
    Tuesday, March 15, <s>VC 4-135</s> <s>VC 11-155</s> VC 3-185</p>
    <p>
        Every 3/14 is Pi Day, the most mathematically irrational of holidays! There will be pi. There will be pie.
        There will be nerds. Come celebrate with us!
    </p>
    <hr>


    <p><b>Pi Day Tabling</b> &mdash;Monday, March 14
    <p>
        We're holding a bake sale to promote the forthcoming Pi Day celebrations. There will be pi, pie, and an
        opportunity to learn more about the club. Stop by and say hello!
    </p>
    <hr>


	<p><b>Data Science Workshop</b> (<a href="https://github.com/ResidentMario/data-science-team/blob/master/Intro%20to%20Data%20Science%20Workshop.pdf">Slides</a>)&mdash;
        Thursday, March 3, Subotnick Center Development Room</p>
		<p>
            Come learn what the Mathematics Society is all about at our Spring 2016 semester general
            interest meeting! On the agenda: who we are, what we do, an overview of the events we are planning for
            this semester, information on quantitative classes and programs at Baruch, questions for the board, and
            icebreakers. Refreshments are to be served.
        </p>
		<hr>


	<p><b>General Interest Meeting</b> (<a href="https://github
	.com/ResidentMario/baruch-mathematics-society/blob/master/GIM%20Presentation.pdf">Slides</a>)&mdash;Thursday,
        February 18, VC 9-117</p>
		<p>
            Come learn what the Mathematics Society is all about at our Spring 2016 semester general
            interest meeting! On the agenda: who we are, what we do, an overview of the events we are planning for
            this semester, information on quantitative classes and programs at Baruch, questions for the board, and
            icebreakers. Refreshments are to be served.
        </p>
		<hr>

    <h3>Fall 2015</h3>


	<p><b>Math Interview Questions You Should Know</b> (<a href="/static/Fall Student Lectures Flyer.pdf">Flyer</a>)&mdash;Thursday, November 17, VC 9-117</p>
		<p>
            Go ahead, put math on your resume. But go to this presentation first.
        </p>

    <hr>

    <p><b>Brain Teasers</b> (<a href="/static/Fall Student Lectures Flyer.pdf">Flyer</a>)&mdash;Thursday, October 15 and Thursday, November 10, VC 9-117</p>
    <p>
        Tricky problems aren't so trickly when you know all the tricks.
    </p>

    <hr>


	<p><b>Math Classes Preview</b> (<a href="/static/Fall Student Lectures Flyer.pdf">Flyer</a>)&mdash;Thursday, November 3, VC 9-117</p>
		<p>
            Math is a universial language of many tongues. Interested in taking your quantitative skills even
            further? Get a feeling for math classes at Baruch by working through a selection of problems from
            various courses in this pre-registration student presentation.
        </p>
        <p>
            A part of this presentation is now available <a href="http://www.residentmar.io/2015/11/06/an-exercise-in-probability.html">online</a>.
        </p>

		<hr>

    <p><b>Fractals: The Building Blocks of the Universe</b> (<a href="/static/Fall Student Lectures Flyer.pdf">Flyer</a>)&mdash;Thursday, October 29, VC 9-117</p>
    <p>
        Why is a dragon curve a fractal and where can I get one? Come learn about the role that self-similarity
        plays in the universe in our first student discussion of the semester.
    </p>
    <hr>

	<p><b>General Interest Meeting</b> (<a href="/static/GIM Flyer.pdf">Flyer</a>)&mdash;Thursday, October 15 and Thursday, October 22, VC 9-117</p>
		<p>
            Come learn what the Mathematics Society is all about at one of our Fall 2015 semester general
            interest meetings! On the agenda: who we are, what we do, an overview of the events we are planning for
            this semester, information on quantitative classes and programs at Baruch, questions for the board, and
            icebreakers. Refreshments are to be served.
        </p>


{% endblock %}