{% extends "frame.html" %}
{% block title %}Mathematics Society - Contact Us{% endblock %}
{% block content %}
	<h2>Contact Us</h2>
	<p>
        Are you a student who wants to learn more about the Mathematics Society? Keep up with Mathematics Society
        meetings and events by <a href="https://www.facebook.com/groups/710998905648251/">joining us</a> on Facebook,
        and make sure to take a look at our <a href="../Calender">Calender</a> for a list of events happening soon.
        For the quickest response to a general inquiry, try posting there. Alternatively, try <a
            href="mailto:mathematicssociety@google.com" target="_top">emailing us</a>.
    </p>

	<p>
        We are always looking to host more lectures by members of the faculty. If you are a professor at Baruch or
        elsewhere and would like to express interest in giving a presentation with support from the Mathematics
        Society, please let us know by <a href="mailto:mathematicssociety@google.com" target="_top">emailing us</a>.
        The same applies if you are an organization interested in hosting or co-hosting an event—something we are
        always excited to hear more about!
    </p>

{% endblock %}